/****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

:root {
    --UCSDBlue: #00629B;
    --UCSDLightBlue: #00C6D7;
    --UCSDDarkBlue: #182B49;
    --UCSDDarkGray: #747678;
    --UCSDLightGray: #B6B1A9;
    --UCSDGold: #C69214;
    --UCSDGreen: #6E963B;
    --UCSDOrange: #FC8900;
}

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: var(--UCSDLightBlue);
    text-decoration: underline;
}

table {
  font-size: inherit;
  font: 100%;
}

p {
    font-size: inherit;
    font: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

/*****************************************************************************/
/*
/* topnav
/*
/*****************************************************************************/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #e7e7e7;*/
    /*background-color: #f3f3f3;*/
    margin-bottom: 2em;
    border-bottom: 1px solid var(--UCSDLightGray);
}

/* on a regular screen, set location of links */
@media screen and (min-width: 600px) {
    /* default position for topnav is on the right... */
    ul.topnav li {float: right;}
    /* except fo the first link */
    ul.topnav li:first-child {float:left}
}

/* on a small screen, change location of links */
@media screen and (max-width: 600px) {
    /* list of links */
    ul.topnav li {float: none;}
    /* display on the right */
    ul.topnav li a {
        display: block;
        text-align: left;
        /*padding: 14px 0px;*/
        text-decoration: none;
    }
}

/* Name */
ul.topnav li:first-child a {
    font-size: 140%;
    font-weight: bold;
    color: var(--UCSDBlue);
}

/*ul.topnav li a.active {background-color: #111;}*/

