<div class="footer">
<!-- <footer> -->
    <ul class="list-inline text-center">
        {%- if site.email -%}
            <li>
                <a target="_blank" href="mailto:{{ site.email }}">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        {%- endif -%}
        {%- if site.github_username -%}
            <li><a target="_blank" href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fab fa-github fa-stack-2x"></i>
                </span>
            </a></li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {%- endif -%}
    </ul> 
<!-- </footer> -->
</div>